### Communs ###
data/
.gitignore
/data/*
__pycacache__/
*.zip
correlations_abs.json
correlations_with_target.json
.DS_Store
### Yassine ###
test_data.ipynb
*.pyc
db.*
catboost_info/catboost_training.json
*.tmp
*.tsv
*.tfevents
catboost_info/ 
### Matteo ###
matteo*
dash_yassine.py
data_cleaning_location.ipynb
data_cleaning_meteo.ipynb
data_cleaning_hydro.ipynb

### Yael ###
1-exploration.ipynb
yael nb persos/*
