### Communs ###
data/
.gitignore
/data/*

### Yassine ###
test_data.ipynb
*.pyc
db.*
catboost_info/catboost_training.json
*.tmp
*.tsv
*.tfevents
### Matteo ###
matteo*
dash_yassine.py
data_cleaning_location.ipynb
data_cleaning_meteo.ipynb
data_cleaning_hydro.ipynb

### Yael ###
1-exploration.ipynb
yael nb persos/*
